@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-BoldItalic.otf) format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-Book.otf) format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-BookItalic.otf) format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-Light.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-LightItalic.otf) format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-Medium.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-MediumItalic.otf) format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-RegularItalic.otf) format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-Semibold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "UncutSans";
    src: url(/fonts/UncutSans/UncutSans-SemiboldItalic.otf) format("opentype");
    font-weight: 600;
    font-style: italic;
}
